!!!5
%html{class:"no-js", lang:"es"}
  %head
    %meta{charset:"utf-8"}
    %title Luis Enrique Castro Melquiades
    %meta{name:"description", content:"Ingeniero en Tecnologías de la Información y Comunicación Luis Enrique Castro Melquiades "}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %link{rel:"stylesheet", href:"./offline/style.css"}
  %body
    %p#message Parece que se pudo establecer la conexión con internet, no hay problema, aquí esta toda la información que necesitas.
    .container
      %h1 Luis Enrique Castro
      %p
        %strong Teléfono
        +525567511382
      #img-container
        %img{src:"./offline/lenguajes.jpg"}
        %p Habilidades de desarrollo web.
