<!DOCTYPE html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8">
    <title>Luis Enrique Castro Melquiades</title>
    <meta content="Ingeniero en Tecnologías de la Información y Comunicación Luis Enrique Castro Melquiades " name="description">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/normalize.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <script src="/static/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 9]>
    <p class="browserupgrade">
      Estás usando un navegador
      <strong>desactualizado.</strong>
      Por favor
      <a href="http://browsehappy.com/"></a>
      Actualiza tu navegador
      para una mejor experiencia
    </p>
    <![endif]-->
    <div class="video-container marginbottom">
      <video autoplay height="720" loop poster="/static/videos/images/hello-world.jpg" width="1280">
        <source src="/static/videos/mp4/hello-world.mp4" type="video/mp4">
        <source src="/static/videos/webm/hello-world.webm" type="video/webm">
      </video>
    </div>
    <div class="row full-height middle-xs center-xs relative up" id="main">
      <div class="col-xs-12">
        <div class="double-bottom-shadow">
          <h1 class="josefin title no-margin primary-text">Luis Enrique Castro</h1>
          <nav id="navigation" onclick="void(0)">
            <ul>
              <li>
                <a href="#">
                  <svg viewBox="0 0 24 24">
                    <path d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" fill="#000000" id="github"></path>
                  </svg>
                  <span>GitHub</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg viewBox="0 0 24 24">
                    <path d="M14.6,16.6L19.2,12L14.6,7.4L16,6L22,12L16,18L14.6,16.6M9.4,16.6L4.8,12L9.4,7.4L8,6L2,12L8,18L9.4,16.6Z" fill="#000000" id="skills"></path>
                  </svg>
                  <span>Skills</span>
                </a>
              </li>
              <li>
                <a href="#contact">
                  <svg viewBox="0 0 24 24">
                    <path d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" fill="#000000" id="contacto"></path>
                  </svg>
                  <span>Contacto</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg viewBox="0 0 24 24">
                    <path d="M12,2C6.5,2 2,6.14 2,11.25C2,14.13 3.42,16.7 5.65,18.4L5.71,22L9.16,20.12L9.13,20.11C10.04,20.36 11,20.5 12,20.5C17.5,20.5 22,16.36 22,11.25C22,6.14 17.5,2 12,2M13.03,14.41L10.54,11.78L5.5,14.41L10.88,8.78L13.46,11.25L18.31,8.78L13.03,14.41Z" fill="#000000" id="bot"></path>
                  </svg>
                  <span>Bot</span>
                </a>
              </li>
            </ul>
          </nav>
          <h2 class="josefin subtitle no-margin secondary-text">Desarrollador web con sede en al norte de la CDMX. Me gusta crear aplicaciones web con una pasión particular por JavaScript y HTML5.</h2>
        </div>
      </div>
    </div>
    <div class="backtotopcontainer">
      <button class=" accent-color btn-floating btn-large waves-effect waves-light " id="backtotop" type="submit">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24">
          <path d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" fill="#fff"></path>
        </svg>
      </button>
    </div>
    <div class="row full-height middle-xs center-xs relative canvas-background">
      <div class="col-xs-12 no-padding">
        <div class="box" id="skills">
          <canvas class="materialboxed" height="720" id="canvas" width="1280"></canvas>
        </div>
      </div>
    </div>
    <div class="row center-xs full-height" id="diagonal-container">
      <div class="col-xs-12 col-md-8 col-lg-6 no-padding top-space">
        <div class="box">
          <p class="text-center medium" id="info-contacto">Contacta conmigo o con mi bot de facebook</p>
          <form action="https://formspree.io/luiscastromelquiades@gmail.com" class="step-form" id="contact-form" method="POST">
            <div class="row center-xs" id="contact">
              <div class="col-xs-2 col-md-1 text-center">
                <div class="box">
                  <div class="path-step active waves-effect waves-circle waves-light"></div>
                  <br>
                  <div class="path-step waves-effect waves-circle waves-light"></div>
                  <br>
                  <div class="path-step waves-effect waves-circle waves-light"></div>
                  <br>
                </div>
              </div>
              <div class="col-xs-5">
                <div class="box">
                  <fieldset class="step active input-field">
                    <input class="input" id="email" name="email" required type="email">
                    <label for="email">Email</label>
                  </fieldset>
                  <fieldset class="step input-field">
                    <input class="input" id="name" name="name" required type="text">
                    <label for="name">Nombre</label>
                  </fieldset>
                  <fieldset class="step input-field">
                    <textarea class="input materialize-textarea" id="textarea" name="body" required></textarea>
                    <label for="textarea">Mensaje</label>
                  </fieldset>
                  <div>
                    <button class=" accent-color btn-floating btn-large waves-effect waves-light " type="submit">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                        <path d="M2,21L23,12L2,3V10L17,12L2,14V21Z" fill="#fff"></path>
                      </svg>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script crossorigin="anonymous" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script>
    window.jQuery || document.write("<script src='/static/js/vendor/jquery.min.js'><\/script>")
  </script>
  <script src="/static/js/canvas.js"></script>
  <script src="/static/js/form_object.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/dist/form_steps.js"></script>
</html>
